PORT=3333
CONNECTION_DRIVE=sqlite
TYPE_ORM_LOGGING=true     
TYPE_ORM_MIGRATIONS=./src/database/migrations/**.ts
TYPE_ORM_MIGRATIONS_DIR=./src/database/migrations
TYPE_ORM_ENTITIES=./src/entities/sqlite_mysql_postgre/*.ts
TYPE_ORM_ENTITIES_DIR=./src/entities/sqlite_mysql_postgre/**.ts
MONGODB_TYPE_ORM_ENTITIES=./src/entities/mongodb/*.ts
MONGODB_TYPE_ORM_ENTITIES_DIR=./src/entities/mongodb/**.ts